@using JobPortal.Application.Common.PaginatedLists
@using JobPortal.Application.JobPosts
@using JobPortal.Web.Helpers
@model PaginatedList<JobPostVM>

<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Get your job</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Left content -->
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <div class="small-section-tittle2 mb-45">
                            <div class="ion">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="20px" height="12px">
                                    <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                    d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                                </svg>
                            </div>
                            <h4>Filter Jobs</h4>
                        </div>
                    </div>
                </div>
                <!-- Job Category Listing start -->
                <form method="get">
                <div class="job-category-listing mb-50">
                    <!-- single one -->
                    <div class="single-listing">
                        <div class="small-section-tittle2">
                            <h4>Job Category</h4>
                        </div>
                        <!-- Select job items start -->
                        <div class="select-job-items2">
                            <select name="CategoryId">
                                <option value="">All Category</option>
                                @foreach (var cat in ViewBag.Categories)
                                {
                                        if (ViewBag.SelectedCategoryId != null && ViewBag.SelectedCategoryId == cat.Id)
                                        {
                                            <option value="@cat.Id" selected>@cat.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@cat.Id">@cat.Name</option>
                                        }
                                }
                            </select>
                        </div>
                        <!--  Select job items End-->
                        <!-- select-Categories start -->
                        <div class="select-Categories pt-80 pb-50">
                            <div class="small-section-tittle2">
                                <h4>Job Type</h4>
                            </div>
                            @foreach (var empType in ViewBag.EmploymentTypes)
                            {
                                <label class="container">
                                    @empType.Name;
                                        <input type="checkbox" name="selectedEmploymentTypes" value="@empType.Id" @(ViewBag.SelectedEmploymentTypes != null && ((List<int>)ViewBag.SelectedEmploymentTypes).Contains(empType.Id) ? "checked" : "")>
                                    <span class="checkmark"></span>
                                </label>
                            }
                        </div>
                        <!-- select-Categories End -->
                    </div>
                    <!-- single two -->
                    <div class="single-listing">
                        <div class="small-section-tittle2">
                            <h4>Job Location</h4>
                        </div>
                        <!-- Select job items start -->
                        <div class="select-job-items2">
                            <select name="locationId">
                                <option value="">Anywhere</option>
                                @foreach (var location in ViewBag.Locations)
                                {
                                        if (ViewBag.SelectedLocationId != null && ViewBag.SelectedLocationId == location.Id)
                                        {
                                            <option value="@location.Id" selected>@location.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@location.Id">@location.Name</option>
                                        }
                                }
                            </select>
                        </div>
                        <!--  Select job items End-->
                        <!-- select-Categories start -->
                        <div class="select-Categories pt-80 pb-50">
                            <div class="small-section-tittle2">
                                <h4>Experience</h4>
                            </div>
                            @foreach (var experience in ViewBag.Experiences)
                            {
                                <label class="container">
                                    @experience.Name
                                        <input type="checkbox" name="selectedExperienceList" value="@experience.Id" @(ViewBag.SelectedExperienceList != null && ((List<int>)ViewBag.SelectedExperienceList).Contains(experience.Id) ? "checked" : "")>
                                    <span class="checkmark"></span>
                                </label>
                            }
                            
                            
                        </div>
                        <!-- select-Categories End -->
                    </div>
                    <!-- single three -->
                    <div class="single-listing">
                        <!-- select-Categories start -->
                        <div class="select-Categories pb-50">
                            <div class="small-section-tittle2">
                                <h4>Posted Within</h4>
                            </div>
                            <label class="container">
                                Any
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Today
                                <input type="checkbox" checked="checked active">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Last 2 days
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Last 3 days
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Last 5 days
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Last 10 days
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <!-- select-Categories End -->
                    </div>
                    <div class="single-listing">
                        <!-- Range Slider Start -->
                        <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                            <div class="small-section-tittle2">
                                
                                    <button class="btn btn-primary"> Apply Filter</button>
                            </div>
                        </aside>
                        <!-- Range Slider End -->
                    </div>
                </div>
                
                
                </form>
                <!-- Job Category Listing End -->
            </div>
            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                        <!-- Count of Job list Start -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count-job mb-35">
                                    <span>@Model.TotalItems Jobs found</span>
                                    <!-- Select job items start -->
                                    <div class="select-job-items">
                                        <span>Sort by</span>
                                        <select name="select">
                                            <option value="">None</option>
                                            <option value="">job list</option>
                                            <option value="">job list</option>
                                            <option value="">job list</option>
                                        </select>
                                    </div>
                                    <!--  Select job items End-->
                                </div>
                            </div>
                        </div>
                        <!-- Count of Job list End -->
                        <!-- single-job-content -->
                        @foreach(var jobpost in Model.Items)
                        {
                            <div class="single-job-items mb-30">
                                <div class="job-items">
                                    <div class="company-img">
                                        <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                    </div>
                                    <div class="job-tittle job-tittle2">
                                        <a href="@Url.Action("Details","Job", new { id = jobpost.Id })">
                                            <h4>@jobpost.Title</h4>
                                        </a>
                                        <ul>
                                            <li>@jobpost.Company?.Name</li>
                                            <li><i class="fas fa-map-marker-alt"></i>@jobpost.Location.Name</li>
                                            <li>$@jobpost.MinSalary - $@jobpost.MaxSalary</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="items-link items-link2 f-right">
                                    <a href="job_details.html">@jobpost.EmploymentType?.Name</a>
                                    <span>@TimeAgoHelpers.GetTimeAgo(jobpost.CreatedAt)
                                    </span>
                                </div>
                            </div>
                        }
                        
                    </div>
                </section>
                <!-- Featured_job_end -->
            </div>
        </div>
    </div>

    <!-- Job List Area End -->
    <!--Pagination Start  -->
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                                    <a class="page-link text-black" asp-route-pageNumber="1">
                                        <span>First</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex-1)">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                @{
                                    int startPage = Math.Max(Model.PageIndex - 2, 1);
                                    int endPage = Math.Min(Model.PageIndex + 2, Model.TotalPages);

                                    for (int i = startPage; i <= endPage; i++)
                                    {
                                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                                            <a class="page-link text-black" asp-route-pageNumber="@i">@i</a>
                                        </li>
                                    }
                                }

                                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                    <a class="page-link text-black" asp-route-pageNumber="@(Model.PageIndex+1)">
                                        <span>Next</span>
                                    </a>
                                </li>
                                <li class="page-item @(Model.PageIndex==Model.TotalPages? "disabled" : "")">
                                    <a class="page-link text-black" asp-route-pageNumber="@Model.TotalPages">
                                        <span>Last</span>
                                    </a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pagination End  -->
